<body class="body text-center">

    <div class="col-md-6">
      <h1 class="h3 mb-3 font-weight-normal">Iniciar sesión</h1>
      
      <div class="row justify-content-around form">
        <div class= "col-8">
          <label for="inputEmail" class="sr-only">Email</label>
          <input type="email" id="inputEmail" class="form-control" [(ngModel)]="email" placeholder="Email" required autofocus><!-- -->
        </div>

        <div class= "col-8">
          <label for="inputPassword" class="sr-only">Contraseña</label>
          <input type="password" id="inputPassword" class="form-control" [(ngModel)]="password" placeholder="Contraseña" required><!-- -->
          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Recordar mis datos
            </label>
          </div>
        </div>
      </div>
  
      <div class="justify-content-around form">
        <button class="btn btn-lg btn-outline-primary"(click)="Ingresar()">  <!--[disabled]="loading" type="submit" style="margin: 5px" -->
          <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Ingresar
        </button> 
        
        <button class="btn btn-lg btn-outline-danger" style="margin: 5px" routerLink="/">Cancelar</button>
      </div>
    </div>

    <div class="col-md-6">
      <div>
        <button class="btn btn-lg btn-outline-warning" (click)="Autocompletar()">Test</button>
      </div>

      <div class="row" *ngIf="autocompletar=='si'">
        <h4 class="mb-1">Usuarios</h4>

            <ul class="overflow-auto" id="boxConScroll" style="height: 300px;"
                #scrollMe [scrollTop]="scrollMe">
                <li type="text" class="list-group-item d-flex justify-content"
                    *ngFor="let usuario of listaUsuariosAccesoRapido" disable>

                    <button class="btn-lg" (click)="cargarUsuariosAccesoRapido(usuario.email)"><!--<img src="{{usuario.imagenPerfil}}"/>-->
                      <input type="text" value="{{usuario.perfil}} {{usuario.nombre}} {{usuario.apellido}}" disabled>
                    </button>
                </li>
            </ul>
      </div>
    </div>
  </body>
