<app-navbar></app-navbar>
<br>
<!-- <p>gestion-reparto works!</p> -->

<main>
    <div class="container py-4">
      <header class="pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
          <span class="fs-4">Gestionar reparto</span>
        </a>
      </header>
  
      <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">Listado de repartidores</h1>

          <app-listado-repartidor [listaRepartidores]='listaRepartidores'
            (eventoRepartidorSeleccionado)="obtenerRepartidorSeleccionado($event)">
          </app-listado-repartidor>
        </div>
      </div>
  
      <div class="row align-items-md-stretch">
        <div class="col-md-6">
          <div class="h-100 p-5 text-white bg-dark rounded-3">
  
            <h2>Listado de pizzas</h2>

            <app-listado-pizza [listaPizzas]='listaPizzas'
            (eventoPizzaSeleccionada)="obtenerPizzaSeleccionada($event)">
            </app-listado-pizza>
          </div>
        </div>
        <div class="col-md-6">
          <div class="h-100 p-5 bg-light border rounded-3">
            <h2>Reparto</h2>
            <h5 *ngIf="repartidorSeleccionado">{{repartidorSeleccionado?.nombre}}</h5>
     
                  <ul>
                      <li *ngFor="let pizza of listaPizzasSeleccionadas">{{pizza.nombre}}</li>
                  </ul>
                  <div *ngIf="limite">
                    {{limite}}
                  </div>
  
                  <div class="row container">
                    <div class="col-md-12 d-grid">
                      <button type="button" class="w-100 btn btn-lg btn-primary" [disabled]="signup" (click)="registro()">
                          <span *ngIf="signup" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                        Registro
                      </button>
                      <br>
                    </div>
                    <div class="col-md-12 d-grid">
                      <button class="w-100 btn btn-lg btn-danger" routerLink="/">Me arrepentí</button>
                      <br>
                    </div>
                  </div>
                  <!-- <app-alta-reparto [repartidorElegido]='repartidorSeleccionado'></app-alta-reparto> -->
            </div>
        </div>
      </div>
  
    </div>
  </main>
  