<p>navbar works!</p>

<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="my-0 mr-md-auto font-weight-normal" routerLink="/bienvenida"><h5>RPPARCIAL</h5></a>
      <nav class="my-2 my-md-0 mr-md-3">
        <!-- <a class="p-2 text-dark" routerLink="/quiensoy">Quien soy?</a> -->
        <a class="p-2" href="https://github.com/AndresWuthrich/rpparcial">en GitHub</a>
  
      </nav>
      
      <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white" *ngIf="userLogueado | async as user; else login">
        <h5 class="my-0 mr-md-auto font-weight-normal">Bienvenidx <i>{{ (userLogueado | async)?.email}}</i> !!  </h5>
        <nav class="my-2 my-md-0 mr-md-3">
          <a class="btn btn-outline-primary" (click)='Logout()'>Logout</a>

        </nav> 
      </div>
      <ng-template #login>
        <a class="btn btn-outline-primary" routerLink="/auth/login">Login</a>
        <a class="btn btn-outline-primary" routerLink="/auth/registro">Registrarse</a>
      </ng-template>
      </div>
  </nav>
</header>