<app-navbar></app-navbar>
<br>

<div class="container">
  <main>
    <div class="py-5 text-center">
      <!-- <img class="d-block mx-auto mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
      <h2>Alta repartidor</h2>
    </div>

    <div class="row g-5">
      <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-primary">Países</span>
        </h4>
        <div>
          <button class="btn btn-secondary" (click)="cambioDeRegion()">Cambiar región</button>
        </div>

        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <app-listado-pais [listaPais]='listaPais'
              (eventoPaisSeleccionado)="obtenerPaisSeleccionado($event)">
            </app-listado-pais>
          </li>
        </ul>
      </div>

      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Datos repartidor</h4>
        <form [formGroup]="formRegistro" class="needs-validation" (ngSubmit)="registro()">
          <div class="row g-3">
            <div class="col-md-6 mb-2">
              <label for="nombre" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="nombre" placeholder="Ingrese nombre" formControlName='nombre'>
              <small class="invalid" *ngIf="formRegistro.get('nombre')?.errors?.required && formRegistro.get('nombre')?.touched">El nombre es requerido</small>
            </div>

            <div class="col-md-6 mb-2">
              <label for="apellido" class="form-label">Apellido</label>
              <input type="text" class="form-control" id="apellido" placeholder="Ingrese apellido" formControlName='apellido'>
              <small class="invalid" *ngIf="formRegistro.get('apellido')?.errors?.required && formRegistro.get('apellido')?.touched">El apellido es requerido</small>
            </div>

            <div class="col-md-6 mb-2">
              <label for="edad" class="form-label">Edad</label>
              <input type="number" class="form-control" id="edad" placeholder="Ingrese edad" formControlName='edad'>
              <small class="invalid" *ngIf="formRegistro.get('edad')?.errors?.required && formRegistro.get('edad')?.touched">La edad es requerida</small>
              <small class="invalid" *ngIf="formRegistro.get('edad')?.errors?.min || formRegistro.get('edad')?.errors?.max && formRegistro.get('edad')?.touched ">La edad debe ser entre 18 a 99 años</small>
            </div>

            <div class="col-md-6 mb-2">
              <label for="dni" class="form-label">DNI</label>
              <input type="number" class="form-control" id="dni" placeholder="Ingrese dni" formControlName='dni'>
              <small class="invalid" *ngIf="formRegistro.get('dni')?.errors?.required && formRegistro.get('dni')?.touched">El dni es requerido</small>
              <small class="invalid" *ngIf="formRegistro.get('dni')?.errors?.min && formRegistro.get('dni')?.touched">El dni debe ser mayor a 1.000.000</small>
            </div>

            <div class="col-md-6 mb-2">
              <label for="capacidad" class="form-label">Capacidad de transporte</label>
              <input type="number" class="form-control" id="capacidad" placeholder="Ingrese capacidad" formControlName='capacidad'>
              <small class="invalid" *ngIf="formRegistro.get('capacidad')?.errors?.required && formRegistro.get('capacidad')?.touched">Capacidad de transporte es requerido</small>
              <!-- <small class="invalid" *ngIf="formRegistro.get('capacidad')?.errors?.min && formRegistro.get('capacidad')?.touched">El dni debe ser mayor a 1.000.000</small> -->
            </div>

            <div class="col-md-12 mb-2"><!--*ngIf="perfil=='paciente'">-->
              <label for="paisOrigen" class="form-label">País de origen</label>
              <input type="text" class="form-control" id="paisOrigen" placeholder="Ingrese pais de origen" formControlName='paisOrigen' value={{paisSeleccionado?.name}}>
              <small class="invalid" *ngIf="formRegistro.get('paisOrigen')?.errors?.required && formRegistro.get('paisOrigen')?.touched">País de origen es requerido</small>
            </div>

            <div class="col-md-6 mb-2">
              <label for="unidadPropia" class="form-label">¿ Tiene unidad propia ?</label>
              <select class="form-select" id="unidadPropia" formControlName='unidadPropia'>
                <option value="true">Sí</option>
                <option value="false">No</option>
              </select>
              <small class="invalid" *ngIf="formRegistro.get('unidadPropia')?.errors?.required && formRegistro.get('unidadPropia')?.touched">
                  Unidad propia es requerido</small>
            </div>
          </div>

          <hr class="my-4">

          <div class="row container">
              <button type="submit" class="w-100 btn btn-primary btn-lg" [disabled]="signup">
                  <span *ngIf="signup" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                Registro
              </button>
            
              <button class="w-100 btn btn-danger btn-lg" routerLink="/">Me arrepentí</button>
          </div>
        </form>
      </div>
    </div>
  </main>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2017–2021 Company Name</p>
  </footer>
</div>
