<app-navbar></app-navbar>
<br>

<main>
    <div class="container py-4">
      <header class="pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
          <span class="fs-4">Detalle repartidor</span>
        </a>
      </header>
  
      <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">Listado de repartidores</h1>

          <app-listado-repartidor [listaRepartidores]='listaRepartidores'
            (eventoRepartidorSeleccionado)="obtenerRepartidorSeleccionado($event)">
          </app-listado-repartidor>
        </div>
      </div>
  
      <div class="row align-items-md-stretch">
        <div class="col-md-6">
          <div class="h-100 p-5 text-white bg-dark rounded-3">
            <h2>Detalle repartidor seleccionado</h2>

            <app-info-repartidor [repartidorElegido]='repartidorSeleccionado'></app-info-repartidor>
          </div>
        </div>
        <div class="col-md-6">
          <div class="h-100 p-5 bg-light border rounded-3">
            <h2>Datos país</h2>

            <app-pais-repartidor [repartidorElegido]='repartidorSeleccionado'></app-pais-repartidor>
          </div>
        </div>
      </div>
    </div>
  </main>
  